In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Shael\Documents\Stanford_Machinelearning\sample.csv")

In [4]:
df

    Company  Radio ($)  Sales
0    Amazon       37.8   22.1
1    Google       39.3   10.4
2  Facebook       45.9   18.3
3     Apple       41.3   18.5

In [79]:
df2 = df[:4]
def predict_sales(radio, weight, bias):
    
    return weight*radio + bias

In [80]:
df2

    Company  Radio ($)  Sales
0    Amazon       37.8   22.1
1    Google       39.3   10.4
2  Facebook       45.9   18.3
3     Apple       41.3   18.5

In [90]:
def cost_function(radio, sales, weight, bias):
    companies = len(radio)
    print('length of company',companies)
    total_error = 0.0

    for i in range(companies):
        total_error += (sales[i] - (weight*radio[i] + bias))**2
     
    
    return total_error / companies

In [92]:
cost_function(df['Radio ($)'],df2['Sales'],0,df2['Sales'])

TypeError: cost_function() missing 1 required positional argument: 'bias'

In [93]:
136.89/4

34.2225

In [95]:
hello  = 1